@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .parentClass {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: auto;
    }

    .childClass {
        padding: 20px;
        background-color: #f4f4f4;
        border: 5px solid #0077b6;
        border-radius: 10px;
        transition: transform 0.8s ease-in-out;
        box-shadow: 0 0 0 white;
        animation: shine 1.5s infinite;
        max-width: 80%; /* Adjust the width as needed */
    }

        .childClass:hover {
            transform: scale(1.05);
            animation: none;
            box-shadow: 0 0 20px white;
        }

    @@keyframes shine {
        0% {
            box-shadow: 0 0 0 white;
        }

        50% {
            box-shadow: 0 0 20px white;
        }

        100% {
            box-shadow: 0 0 0 white;
        }
    }
</style>
<div class="parentClass">
    <div class="col-md-8 col-lg-6 childClass">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="font-weight:500;">SPORT MAKAN</h2>
            <h5>Enjoy the most powerful mobile games and videos.</h5>
            <img src="/img/SubscribeImg.png" />
            <h5>Please enter your mobile number to receive OTP</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                @*<label asp-for="Input.Email">Email</label>*@
                @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
            </div>
@*            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
            <button id="registerSubmit" @*type="submit"*@ class="w-100 btn btn-lg btn-primary">Subscribe</button>
            <p>
                By clicking on Subscribe, you agree to the below terms and conditions:
                You will start the paid subscription after the free period automatically After 24 hours free trial, you will be charged AED 3/day (VAT Included) automatically, no commitment, Please make sure that your browser is not using any 3rd-party blocking technologies and you have a healthy internet connection for swift access to the content, you can cancel at any time by sending C Yalla to 1111 for Etisalat.
                For Support: vas@ertibaattenogies.com For Complete T&C: <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Terms">Click Here</a>
            </p>
        </form>
        <form action="/" method="get">
            <button type="submit" class="w-100 btn btn-lg btn-danger">Exit</button>
        </form>
    </div>
@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
