@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer localizer;

<style>
    #hoverli :hover {
        background-color: lightgrey;
    }

    @@media only screen and (max-width: 800px) {
        #navbartogglerlogin ul {
            /*margin-top: -7px;*/
        }
        .navbar-nav {
        margin: 0px 0px!important;
        }
    }
</style>
<ul class="navbar-nav" id="navbartogglerlogin">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item" id="hoverli">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@localizer["Hello"] @User.Identity?.Name!</a>
    </li>
        <li class="nav-item" id="hoverli">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@localizer["Logout"]</button>
        </form>
    </li>
}
else
{
        <li class="nav-item" id="hoverli">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@localizer["Subscribe"]</a>
    </li>
        <li class="nav-item" id="hoverli">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@localizer["Login"]</a>
        </li>
}
</ul>
